@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/normalize';

@import 'base/reset';
@import 'base/typography';

@import 'containers/navigation';
@import 'containers/header';
@import 'containers/section-about';
@import 'containers/section-portfolio';
@import 'containers/section-skills';
@import 'containers/section-contact';
@import 'containers/footer';
@import 'containers/forms';

@import 'components/cards';
@import 'components/buttons';
@import 'components/socials';
