.contact__form {
	@include flex-container(column, flex-start, flex-start, 1.275rem);
	flex: 1;

	.input-group {
		@include flex-container(column, flex-start, flex-start, 0.5rem);
		width: 100%;

		&__label {
			color: $color_text_primary;
			font-size: 1rem;
			font-weight: 500;
			line-height: 24px;
			text-align: justify;
		}

		&__input {
			@extend %border-radius-small;
			background-color: $color_gray_3;
			border: none;
			color: $color_text_secondary;
			font-size: 16px;
			font-weight: 400;
			height: 40px;
			line-height: 24px;
			outline: none;
			padding: 8px 16px;
			width: 100%;

			@include for-phone-only {
				width: 100%;
			}
		}

		&__help {
			color: $color_blue;
		}

		textarea {
			height: 200px;
			width: 100% !important;

			@include for-phone-only {
				width: 100% !important;
			}
		}
	}
}
