#skills {
	background-color: $color_bg_secondary;
}

.skills {
	background-color: $color_bg_secondary;

	&__title {
		@include section-title($color_text_secondary);
		@extend %text-shadow-dark;
	}

	&__wrapper {
		@include flex-container();
		flex-wrap: wrap-reverse;
		gap: 1rem;
		margin-bottom: 2rem;

		@include for-phone-only {
			margin-bottom: 4rem;
		}
	}

	&__icons {
		@include flex-container(row, flex-start, center, 2rem);
		flex: 1;

		span {
			@extend %border-radius-circle;
			@extend %skills-icon-wrapper;
			@include flex-container(row, center, center);
		}
	}
}

.experience {
	@include flex-container(row, flex-start, stretch, 1rem);
	flex: 1;

	&__icon-wrapper {
		@extend %border-radius-small;
		@extend %skills-icon-wrapper;
		@include flex-container(row, center, center);
		margin-top: 7px;
		font-weight: bold;
	}

	&__content {
		@include flex-container(column, flex-start, flex-start);
		flex: 1;
	}

	&__title {
		@include media-title(darken($color_blue, 15%));
	}

	&__description {
		@include media-subtitle($color_text_secondary);
	}

	&__description {
		@include media-description($color_text_secondary, justify);
	}
}
