.contact {
	&__title {
		@include section-title($color_text_primary);
		@extend %text-shadow-light;
	}

	&__wrapper {
		@include flex-container(row, center, flex-start, 4rem);
		flex-wrap: wrap;
		width: 100%;
	}

	&__content {
		@include flex-container(column, flex-start, flex-start);
		flex: 1;
	}

	&__subtitle {
		@include media-title($color_text_primary);
		margin-bottom: 1rem;
	}

	&__text {
		@include media-description($color_text_primary);
	}

	&__link {
		@extend %styled-link;
	}
}
