.portfolio {
	&__title {
		@include section-title();
		@extend %text-shadow-light;
	}

	&__badges {
		@include flex-container(row, center, center, 2rem);
		flex-wrap: wrap;

		@include for-phone-only {
			@include flex-container(row, flex-start, center, 1rem);
		}

		span {
			@extend %border-radius-large;
			@include flex-container(row, center, center);
			background-color: $color_bg_secondary;
			color: $color_text_secondary;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			padding: 6px 12px;
			transition: $transition;
			white-space: pre;

			&:hover {
				background-color: $color_blue;
				color: $color_text_primary;
				cursor: pointer;
				transition: $transition;
			}
		}
	}

	&__list {
		@include grid-container(1, null, 1fr, 1fr, 2rem, 2rem);
		justify-items: center;
		margin-top: 80px;

		@include for-tablet-portrait-up {
			@include grid-container(2, null, 1fr, 1fr, 1.5rem, 1.5rem);
			justify-items: center;
		}

		@include for-tablet-landscape-up {
			@include grid-container(3, null, 1fr, 1fr, 1.5rem, 1.5rem);
		}

		@include for-big-desktop-up {
			@include grid-container(4, null, 1fr, 1fr, 1.5rem, 1.5rem);
		}
	}
}
