@mixin container() {
	margin: 0 auto;
	overflow-x: hidden;

	@include for-phone-only {
		padding: 0 1rem;
	}

	@include for-tablet-portrait-up {
		padding: 0 2rem;
	}

	@include for-tablet-landscape-up {
		padding: 0 4rem;
	}

	@include for-desktop-up {
		padding: 0 8rem;
	}

	@include for-big-desktop-up {
		padding: 0 16rem;
	}
}

@mixin flex-container(
	$direction: row,
	$spacing: space-between,
	$alignment: center,
	$gap: 0rem
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $spacing;
	align-items: $alignment;
	gap: $gap;
}

@mixin grid-container(
	$cols: auto,
	$rows: auto,

	$colWidth: 1fr,
	$rowWidth: 1fr,
	$colGap: 1rem,
	$rowGap: 1rem
) {
	display: grid;
	grid-template-columns: repeat($cols, minmax(0, $colWidth));
	grid-template-rows: auto;
	grid-column-gap: $colGap;
	grid-row-gap: $rowGap;
	justify-items: stretch;
	align-items: stretch;
}

@mixin section-title($color: $color_text_primary) {
	color: $color;
	font-size: 2.618rem;
	font-weight: 700;
	line-height: 1.15em;
	margin-bottom: 6rem;
	text-align: center;
}

@mixin media-title($color) {
	color: $color;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 32px;
}

@mixin media-subtitle($color: $color_text_primary, $textAlign: left) {
	color: $color;
	font-size: 1rem;
	font-weight: 300;
	line-height: 24px;
	text-align: $textAlign;
}

@mixin media-description($color: $color_text_primary, $textAlign: left) {
	color: $color;
	font-size: 1rem;
	font-weight: 300;
	line-height: 26px;
	text-align: $textAlign;
}

@mixin svg($color: $color_text_secondary, $w: 48px, $h: 48px) {
	color: $color;
	height: $h;
	width: $w;
	transition: $transition;
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}
