%border-radius-small {
	border-radius: 5px;
}

%border-radius-large {
	border-radius: 15px;
}

%border-radius-circle {
	border-radius: 50px;
}

%box-shadow {
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

%box-shadow-hero {
	-webkit-filter: drop-shadow(0px 0px 20px $color_blue);
	filter: drop-shadow(0px 0px 20px $color_blue);
}

%unstyled-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

%styled-link {
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	text-align: justify;
	color: $color_gray_3;
	text-decoration: underline;
	margin: 1rem 0;

	&:hover {
		color: $color_blue;
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
	}
}

%shape_wave {
	background-color: $color_bg_secondary;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-clip-path: ellipse(150% 100% at 50% 0%);
	clip-path: ellipse(150% 100% at 50% 0%);
	display: block;
}

%skills-icon-wrapper {
	background: $color_gray_3;
	color: $color_text_secondary;
	height: 64px;
	width: 64px;
}

%text-shadow {
	text-shadow: 1px 1px 2px rgb(0 0 0 / 36%);
}

%text-shadow-light {
	text-shadow: 1px 1px 12px rgb(255 255 255 / 30%);
}

%text-shadow-dark {
	text-shadow: 1px 1px 12px rgb(0 0 0 / 30%);
}
