// colors
$color_blue: #007ced;
$color_gray_1: #070707;
$color_gray_2: #444444;
$color_gray_3: #e7e7ec;

// color bg
$color_bg_primary: #070707;
$color_bg_secondary: #ffffff;

// color text
$color_text_primary: #ffffff;
$color_text_secondary: #070707;

// color gradients
$color_x_gradient_dark: linear-gradient(
	90deg,
	rgba(34, 34, 34, 1) 0%,
	rgba(245, 245, 245, 1) 100%
);
$color_y_gradient_dark: linear-gradient(
	180deg,
	rgba(34, 34, 34, 1) 98%,
	rgba(245, 245, 245, 1) 98%
);

// transitions
$transition: all 0.3s ease-in-out;
