.blob {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: $color_blue;
	display: none;
	position: absolute;
	right: 0;
	top: 80px;

	@include for-desktop-up {
		display: block;
		height: 90%;
		width: 50%;
	}
}
