.blob {
	position: absolute;
	top: 0;
	right: 0;
	display: none;

	svg {
		fill: darken($color_blue, 15%);
	}

	-webkit-animation-name: ani-float;

	animation-name: ani-float;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;

	@include for-desktop-up {
		display: block;
		height: 130%;
		width: 105%;
	}

	@include for-big-desktop-up {
		width: 80%;
	}
}

@-webkit-keyframes ani-float {
	0% {
		-webkit-transform: translate(0, 0px);
		transform: translate(0, 0px);
	}
	50% {
		-webkit-transform: translate(30px, 10px);
		transform: translate(30px, 10px);
	}
	100% {
		-webkit-transform: translate(0, -0px);
		transform: translate(0, -0px);
	}
}

@keyframes ani-float {
	0% {
		-webkit-transform: translate(0, 0px);
		transform: translate(0, 0px);
	}
	50% {
		-webkit-transform: translate(30px, 10px);
		transform: translate(30px, 10px);
	}
	100% {
		-webkit-transform: translate(0, -0px);
		transform: translate(0, -0px);
	}
}
