button,
.btn {
	@extend %border-radius-small;
	@include flex-container(row, center, center, 0.5rem);
	align-self: flex-end;
	background-color: darken($color_blue, 15%);
	border: 2px solid darken($color_blue, 15%);
	box-shadow: 1px 1px 12px 0 rgb(0 0 0 / 27%);
	color: $color_text_primary;
	font-size: 1rem;
	font-weight: 500;
	padding: 16px 24px;
	transition: $transition;

	svg {
		transition: $transition;
	}

	&:hover {
		background: transparent;
		cursor: pointer;
		transition: $transition;

		svg {
			transform: translateX(5px);
			transition: $transition;
		}
	}

	&:disabled,
	&.disabled {
		pointer-events: none;
	}
}

.btn--outline {
	background-color: transparent;

	&:hover {
		background: $color_blue;
		cursor: pointer;
		transition: $transition;

		svg {
			transform: translateX(5px);
			transition: $transition;
		}
	}
}
