.card {
	@extend %border-radius-large;
	@extend %box-shadow;
	@include flex-container(column, flex-start, flex-start);
	background: $color_y_gradient_dark;
	height: 100%;
	overflow: hidden;
	width: 100%;

	&__header {
		background: $color_y_gradient_dark;
		width: 100%;
	}

	&__figure {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		color: $color_text_primary;
		overflow: hidden;
	}

	&__image {
		filter: blur(1px);
		transform: scale(1.2);
		transition: $transition;
	}

	&__body {
		background-color: $color_bg_secondary;
		flex: 1;
		padding: 1rem;
		width: 100%;
	}

	&__title {
		color: $color_gray_1;
		font-size: 1rem;
		font-weight: 700;
		line-height: 24px;
	}

	&__subtitle {
		color: $color_gray_1;
		font-size: 12px;
		font-weight: 300;
		line-height: 18px;
		text-align: justify;
	}

	&__footer {
		background: $color_blue;
		border-top: 1px solid $color_gray_3;
		height: 3rem;
		width: 100%;
	}

	&__actions {
		@include flex-container(row, center, center, 0.5rem);
		height: 100%;
		width: 100%;
		color: $color_text_primary;

		&:hover {
			background-color: $color_blue;
			cursor: pointer;
			transition: $transition;
		}
	}

	&:hover {
		.card__image {
			filter: blur(0);
			transform: scale(1.1);
			transition: $transition;
		}
	}
}
