.socials__list {
	@include flex-container(row, center, center, 0.5rem);
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	.socials__item {
		@extend %border-radius-small;
		@include flex-container(row, center, center);
		background-color: $color_gray_2;
		height: 32px;
		opacity: 0.4;
		-webkit-transition: $transition;
		-o-transition: $transition;
		transition: $transition;
		width: 32px;

		svg {
			@include svg($color_text_primary, 1rem, 1rem);
		}

		&:hover {
			@extend %box-shadow;
			background-color: $color_text_primary;
			cursor: pointer;
			-webkit-transition: $transition;
			-o-transition: $transition;
			transition: $transition;
			opacity: 1;

			svg {
				@include svg($color_blue, 1rem, 1rem);
			}
		}
	}
}
