@import "./_sass_modules/main.scss";

html,
body {
  background-color: $color_text_primary;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
svg {
  pointer-events: none;
}

.container {
  @include container(80rem);
}

.section {
  height: 95vh;

  &--padding {
    padding: 80px 0;
  }

  &--margin {
    padding: 80px 0;
  }

  &--wave {
    @extend %shape_wave;
  }

  &--dark {
    background-color: $color_bg_primary;
  }

  &--light {
    background-color: $color_bg_secondary;
  }
}

.sticky-inner-wrapper {
  background-color: $color_bg_primary;
}

.active {
  color: $color_blue;
}

.view-more {
  @include flex-container(row, center, center);
  margin: 4rem 0;
}
