#header {
  height: 75vh;
}

.header {
  @include flex-container(column, center, center, 3rem);

  .banner {
    @include flex-container(row, space-between, center);
    width: 100%;

    &__content {
      @include flex-container(column, center, flex-start);
      row-gap: 1rem;
      z-index: 1;
    }

    &__title {
      color: $color_text_primary;
      font-size: 3.5rem;
      font-weight: 900;
      line-height: 1.1em;
      margin: 0;
    }

    &__description {
      @extend %text-shadow;
      color: $color_gray_3;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      max-width: 640px;
    }

    &__buttons {
      @include flex-container();
      gap: 1rem;
      margin: 2rem 0 0.5rem;
    }

    &__img {
      @extend %border-radius-circle;
      @extend %box-shadow-hero;
      @include flex-container(row, center, center);
      border: 10px solid $color_gray_2;
      flex-shrink: 0;
      height: 450px;
      overflow: hidden;
      position: relative;
      width: 450px;
    }
  }

  &__shadowed-text {
    color: $color_text_primary;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.2;
    align-self: flex-start;
  }
}
