.navbar {
  @include flex-container();
  color: $color_text_primary;
  overflow: hidden;
  padding: 20px 0;

  &__brand {
    @include flex-container(row, center, center, 0.5rem);

    .logo {
      @include flex-container(row, center, center, 0.5rem);

      svg {
        @include svg();
      }
    }

    .stylish {
      font-family: monospace;
      font-size: 24px;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__list {
    @include flex-container(null, null, null, 2rem);
    @extend %unstyled-list;
  }

  &__item {
    color: $color_text_primary;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
      color: $color_blue;
      cursor: pointer;
    }
  }
}
