#skills {
  background-color: $color_bg_secondary;
}

.skills {
  background-color: $color_bg_secondary;

  &__title {
    @extend %section-title;
  }

  &__wrapper {
    @include flex-container();
    margin-bottom: 3rem;
  }

  &__icons {
    @include flex-container(row, flex-start, center, 3rem);
    flex: 1;

    span {
      @extend %border-radius-circle;
      @extend %skills-icon-wrapper;
      @include flex-container(row, center, center);
    }
  }
}

.experience {
  @include flex-container(row, flex-start, center, 1rem);
  flex: 1;

  &__icon-wrapper {
    @extend %border-radius-small;
    @extend %skills-icon-wrapper;
    @include flex-container(row, center, center);
  }

  &__content {
    @include flex-container(column, flex-start, flex-start, 1rem);
  }

  &__title {
    @include media-title($color_gray_1);
  }

  &__description {
    @include media-description($color_gray_2);
  }
}
